<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../static/easyui/themes/insdep/reset.min.css" th:href="@{easyui/themes/insdep/reset.min.css}" />
    <!--reset.min.css 根据实际情况引入，如果你有自己的初始化样式表可以不引入当前样式-->
    <link rel="stylesheet" type="text/css" href="../static/easyui/themes/icon.css" th:href="@{easyui/themes/icon.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/easyui/themes/color.css" th:href="@{easyui/themes/color.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/easyui/themes/insdep/easyui_full.css" th:href="@{easyui/themes/insdep/easyui_full.css}" />
    <script type="text/javascript" src="../static/easyui/jquery.min.js" th:src="@{easyui/jquery.min.js}"></script>
    <script type="text/javascript" src="../static/easyui/jquery.easyui-1.5.1.min.js" th:src="@{easyui/jquery.easyui-1.5.1.min.js}"></script>
    <script type="text/javascript" src="../static/easyui/themes/insdep/jquery.insdep-extend.min.js" th:src="@{easyui/themes/insdep/jquery.insdep-extend.min.js}"></script>
    <script type="text/javascript" src="../static/js/utils.js" th:src="@{js/utils.js}"></script>
    <script type="text/javascript" src="../static/js/home.js" th:src="@{js/home.js}"></script>
</head>

<body>
<a id="btn" href="#">查询</a>
<div id="cc" style="width: 180px; height: 180px;"></div>
<input id="combox" name="dept" />

<table id="dg"></table>

<div id="dd">Dialog Content.</div>

<div id="win"></div>

<input type="text" id="nn" />

<ul id="tt" class="easyui-tree">
    <li><span>Folder</span>
        <ul>
            <li><span>Sub Folder 1</span>
                <ul>
                    <li><span><a href="#">File 11</a></span></li>
                    <li><span>File 12</span></li>
                    <li><span>File 13</span></li>
                </ul></li>
            <li><span>File 2</span></li>
            <li><span>File 3</span></li>
        </ul></li>
    <li><span>File21</span></li>
</ul>

</body>
</html>