<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" style="height: 100%;">
<head>
<meta charset="UTF-8"/>
<title>菜单管理</title>
	<link rel="stylesheet" type="text/css" href="../static/css/default.css" th:href="@{css/default.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/easyui/themes/insdep/reset.min.css" th:href="@{easyui/themes/insdep/reset.min.css}" />
	<!--reset.min.css 根据实际情况引入，如果你有自己的初始化样式表可以不引入当前样式-->
	<link rel="stylesheet" type="text/css" href="../static/easyui/themes/icon.css" th:href="@{easyui/themes/icon.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/easyui/themes/color.css" th:href="@{easyui/themes/color.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/easyui/themes/insdep/easyui_full.css" th:href="@{easyui/themes/insdep/easyui_full.css}" />
	<script type="text/javascript" src="../static/easyui/jquery.min.js" th:src="@{easyui/jquery.min.js}"></script>
	<script type="text/javascript" src="../static/easyui/jquery.easyui-1.5.1.min.js" th:src="@{easyui/jquery.easyui-1.5.1.min.js}"></script>
	<script type="text/javascript" src="../static/easyui/themes/insdep/jquery.insdep-extend.min.js" th:src="@{easyui/themes/insdep/jquery.insdep-extend.min.js}"></script>
	<script type="text/javascript" src="../static/js/utils.js" th:src="@{js/utils.js}"></script>
	<script type="text/javascript" src="../static/js/pages/menu.js" th:src="@{js/pages/menu.js}"></script>
</head>
<body style="height: 100%;" class="easyui-layout">
	<div data-options="region:'west'" style="width:180px" >
		<ul id="tt"></ul>
	</div>
    <div data-options="region:'center'" >
    	<table id="menuContGrid">
    	</table>
    </div>
    
    <div id="menuDialog" style="display: none;" align="center">
    	<form id="menuFrm" method="post">
    		<input type="hidden" id="apid" name="pid" />
    		<table>
    			<tr>
    				<td>菜单名</td>
    				<td>
    					<input id="newMn" name="mname" type="text" class="easyui-validatebox" data-options="required:true,validType:'length[0,25]'"/>
    				</td>
    			</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>菜单级别</td>
					<td>
						<input id="newMl" name="mlevel" type="text" class="easyui-validatebox" editable="false"/>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
    			<tr>
    				<td>菜单URL</td>
    				<td>
    					<input id="newUrl" name="url" type="text" class="easyui-validatebox" data-options="required:true,validType:'length[5,25]'"/>
    				</td>
    			</tr>
    		</table>
    	</form>
	</div>
</body>
</html>